:root {
  // gray
  --color-light-gray: #fafafa;
  --color-gray: #f1f1f1;
  --color-text-gray: #aeaeae;
  --color-dark-gray: #7a7a7a;

  --color-white: #fff;
  --color-black: #000;

  --color-red: #f5164a;
  --color-light-blue: #9ad7ff;
  --color-blue: #0095f6;
}
